:root {
    --branding-color: #FF869E;
    --main-color: ##f7e8f0;
    --second-color-buttons: rgb(85, 83, 83);
    --initials-font-family: 'Oooh Baby', cursive;
    --main-font-family: 'Poppins', sans-serif;
}
body {
    background-color: var(--main-color);
}
h1 {
    font-size: 100px;
    line-height: 1.5;
    font-family: var(--initials-font-family);
    font-weight: bold;
}
 p, h2, h3, h4, h5, h6, a {
    font-family: var(--main-font-family);
    font-weight: normal;
 }
 h3 {
    font-size: 28px;
 }
 p {
    font-size: 18px;
    line-height: 30px;
 }
.hero {
    text-align: center;
    padding: 160px 20px;
    background-image: url(../images/pic6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.hero p {
    font-size: 36px;
    margin: 0;
}
.hero h2 {
    font-size: 24px;
    line-height: 1.5;
}
.content h5 {
    color: rgb(150, 146, 146);
    line-height: 1.5;
}
.btn {
    border-radius: 7px;
    font-size: 18px;
    line-height: 27px;
    padding: 13px 25px;
    margin: 0px 10px;
}
.btn-branding {
    color: var(--second-color-buttons);
    border-color: var(--second-color-buttons);
    background-color: var(--main-color);
}
.btn-branding:hover {
    background-color: var(--branding-color);
    color: black;
    border-color: black;
}
.btn-branding-outline {
    color: var(--branding-color);
    background-color: var(--main-color);
    border-color: var(--branding-color);
}
.btn-branding-outline:hover {
    color: white;
    background-color: var(--branding-color);
}
.btn-branding-second {
    color: var(--second-color-buttons) ;
    border-color: var(--second-color-buttons);
    background-color: var(--branding-color);
}
.btn-branding-second:hover {
    color: black;
    border-color: black;
    background-color: transparent;
}
.projects-homepage {
    font-size: 32px;
    font-weight: bold;
    padding: 30px;
}
.project-description {
    padding: 30px 60px 120px 60px;
}
.content-container {
     padding: 100px 20px;
}
.content {
    margin: 30px 60px;
}
@media (max-width: 960px) {
    .project-description {
        padding: 20px;
        text-align: center;
    }
    .projects-homepage {
        font-size: 48px;
    }
    h1 {
        font-size: 70px;
        line-height: 60px;
    }
    .content-container {
        text-align: center;
        padding: 0px 30px 30px 30px;
    }
    .tool-name {
        display: none;
    }
}